.add-to-do-box {
position: relative;
background: rgba(0,0,0,.2);
color: rgba(255,255,255,1);
display: block;
margin-top: 30px;
margin-bottom: -30px;
min-height: 60px;
width: 100%;
z-index: 10;
}

@media only screen and (min-width: 768px) { 
	.add-to-do-box{
	position: relative;
	ackground: rgba(0,0,0,.15);
	background: url(../img/strata-bg-2.png) fixed repeat-x, rgba(0,0,0,.1);

	border-top: 0px solid rgba(255,255,255,0.2);
	min-height: 250px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
}

.add-to-do-box:after{
	position: absolute;
	top: 20px;
	left: 19px;
	content:' ';
	display: block;
	height: 22px;
	width: 22px;
	border: 3px solid rgba(255, 255, 255, .82);
	border-radius: 100px;
	z-index: 100;
	ox-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.add-to-do-box:after{
	position: absolute;
	border: 3px solid rgba(255, 255, 255, .82);
	border-radius: 100px;
	content:' ';
	display: block;
	height: 22px;
	left: 19px;
	top: 20px;
	width: 22px;
	z-index: 100;
}

.add-to-do-form label{
display: none;
}

.add-to-do-form textarea{
font-family: 'Open Sans', sans-serif;
position: absolute;
box-shadow: none;
border: none;
background: none;
color: rgba(255,255,255,.9);
font-size: 1.2em;
font-weight: 100;
height: 120px;
letter-spacing: .08em;
margin-top: 18px;
margin-left: 57px;
padding: 0;
overflow: hidden;
resize: none;
width: 80%;
}

/*.dd-to-do-form textarea{
position: absolute;
box-shadow: none;
border: none;
background: none;
color: rgba(255,255,255,1);
font-size: 1.8em;
font-weight: 100;
height: 210px;

letter-spacing: .08em;
line-height: 1.6;
margin-top: 6px;
margin-left: 60px;
padding: 0;
overflow: hidden;
resize: none;
width: 70%;
}*/

.add-to-do-form input:focus{
box-shadow: none;
border: none;
background: none;
color: rgba(255,255,255,0.9);
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.9);
}

:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
   color: rgba(255,255,255,0.9);  
}

::-moz-placeholder {  /* Firefox 19+ */
	opacity: 1;
   color: rgba(255,255,255,0.9);  
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,0.9);  
}

.to-do-list{
argin-top: 90px;
osition: fixed;
width: 100%;
}

@media only screen and (min-width: 768px) { 
	.to-do-list{
	margin-top: 0px;
	position: relative;
	width: 100%;
	}

	.bottom-nav{
	display: block;
	}
}
