/*colors for the ages of list items******************************************************/

.color-1 {
background: rgba(255,255,255,1);

}

.text-color-1 {
color: rgba(255,255,255,1);
}

.border-color-1 {
border-color: rgba(255,255,255,1);
}

.caret-color-1{
color: rgba(255,255,255,1);
border-left-color: rgba(255,255,255,1);
border-bottom-color: rgba(255,255,255,1);
}

.color-2 {
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-2 {
color: rgba(255,255,255,1);
color: rgba(255,255,255,1);
}

.border-color-2 {
border-color: rgba(255,255,255,1);
}

.caret-color-2 {
color: rgba(255,255,255,1);
border-left-color: rgba(255,255,255,1);
border-bottom-color: rgba(255,255,255,1);
}

.color-3{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-3{
color: rgba(255,255,255,1);
}

.border-color-3{
border-color: rgba(255,255,255,1);
}

.caret-color-3{
color: rgba(255,255,255,1);
border-left-color: rgba(255,255,255,1);
border-bottom-color: rgba(255,255,255,1);
}

.color-4 {
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-4 {
color: rgba(255,255,255,1);
}

.border-color-4 {
border-color: rgba(255,255,255,1);
}

.caret-color-4 {
color: rgba(255,255,255,1);
}

.color-5{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-5 {
color: rgba(255,255,255,1);
}

.border-color-5{
border-color: rgba(255,255,255,1);
}

.caret-color-5{
color: rgba(255,255,255,1);
}

.color-6{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-6{
color: rgba(255,255,255,1);
}

.border-color-6{
border-color: rgba(255,255,255,1);
}

.caret-color-6{
color: rgba(255,255,255,1);
}

.color-7{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-7 {
color: rgba(255,255,255,1);
}

.border-color-7{
border-color: rgba(255,255,255,1);
}

.caret-color-7{
color: rgba(255,255,255,1);
}

.color-8{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-8{
color: rgba(255,255,255,1);
}

.border-color-8{
border-color: rgba(255,255,255,1);
}

.caret-color-8{
color: rgba(255,255,255,1);
}

.color-9{
background: #F5BF5D;
background: rgba(255,255,255,1);
}

.text-color-9{
color: rgba(255,255,255,1);
}

.border-color-9{
border-color: rgba(255,255,255,1);
}

.caret-color-9{
color: rgba(255,255,255,1);
}

.color-10{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-10{
color: rgba(255,255,255,1);
}

.border-color-10{
border-color: rgba(255,255,255,1);
}

.caret-color-10{
color: rgba(255,255,255,1);
}

.color-11{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-11{
color: rgba(255,255,255,1);
}

.border-color-11{
border-color: rgba(255,255,255,1);
}

.caret-color-11{
color: rgba(255,255,255,1);
}

.color-12{
background: rgba(255,255,255,1);
background: rgba(255,255,255,1);
}

.text-color-12{
color: rgba(255,255,255,1);
}

.border-color-12{
border-color: rgba(255,255,255,1);
}

.caret-color-12{
color: rgba(255,255,255,1);
}

.color-13{
background: #D44D47;
background: rgba(255,255,255,1);
}

.text-color-13{
color: rgba(255,255,255,1);
}

.border-color-13{
border-color: rgba(255,255,255,1);
}

.caret-color-13{
color: rgba(255,255,255,1);
}

.color-14{
background: #CC3F43;
background: rgba(255,255,255,1);
}

.text-color-14{
color: rgba(255,255,255,1);
}

.border-color-14{
border-color: rgba(255,255,255,1);
}

.caret-color-14{
color: rgba(255,255,255,1);
}

.color-subdued{
background: rgba(255,255,255,.15);
ackground-image: url(../mg/subdued-60-bg.png);
}

.text-color-subdued {
color: rgba(255,255,255,.15);
}